addict==2.4.0
alabaster==0.7.13
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.1
annotated-types==0.5.0
anyio==3.7.1
appdirs==1.4.4
astatine==0.3.3
astor==0.8.1
astpretty==3.0.0
astroid==2.15.6
asttokens==2.4.0
attrs==23.1.0
autocfg==0.0.8
autoflake==1.7.8
Babel==2.12.1
bandit==1.7.5
black==23.7.0
cachetools==5.3.1
certifi==2022.12.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.3
cmake==3.25.0
cognitive-complexity==1.3.0
colorama==0.4.6
contourpy==1.1.0
coverage==7.3.1
crcmod==1.7
cryptography==41.0.3
cycler==0.11.0
darglint==1.8.1
decord==0.6.0
dill==0.3.7
distlib==0.3.7
dlint==0.14.1
doc8==1.1.1
docformatter==1.7.5
docker-pycreds==0.4.0
docutils==0.19
domdf-python-tools==3.6.1
einops==0.6.1
eradicate==2.3.0
et-xmlfile==1.1.0
exceptiongroup==1.1.3
fastapi==0.103.1
filelock==3.12.3
flake8==5.0.4
flake8-2020==1.8.1
flake8-aaa==0.16.0
flake8-annotations==3.0.1
flake8-annotations-complexity==0.0.8
flake8-annotations-coverage==0.0.6
flake8-bandit==4.1.1
flake8-black==0.3.6
flake8-blind-except==0.2.1
flake8-breakpoint==1.1.0
flake8-broken-line==0.6.0
flake8-bugbear==23.3.12
flake8-builtins==1.5.3
flake8-class-attributes-order==0.1.3
flake8-coding==1.3.2
flake8-cognitive-complexity==0.1.0
flake8-comments==0.1.2
flake8-comprehensions==3.14.0
flake8-debugger==4.1.2
flake8-django==1.4
flake8-docstrings==1.7.0
flake8-encodings==0.5.0.post1
flake8-eradicate==1.5.0
flake8-executable==2.1.3
flake8-expression-complexity==0.0.11
flake8-fastapi==0.7.0
flake8-fixme==1.1.1
flake8-functions==0.0.8
flake8-functions-names==0.4.0
flake8-future-annotations==0.0.5
flake8-helper==0.2.1
flake8-isort==6.0.0
flake8-literal==1.3.0
flake8-logging-format==0.9.0
flake8-markdown==0.5.0
flake8-mutable==1.2.0
flake8-no-pep420==2.7.0
flake8-noqa==1.3.2
flake8-pie==0.16.0
flake8-plugin-utils==1.3.3
flake8-pyi==22.11.0
flake8-pylint==0.2.0
flake8-pytest-style==1.7.2
flake8-quotes==3.3.2
flake8-rst-docstrings==0.3.0
flake8-secure-coding-standard==1.4.0
flake8-string-format==0.3.0
flake8-tidy-imports==4.10.0
flake8-typing-imports==1.14.0
flake8-use-fstring==1.4
flake8-use-pathlib==0.3.0
flake8-useless-assert==0.4.4
flake8-variables-names==0.0.6
flake8-warnings==0.4.0
flake8_simplify==0.20.0
fonttools==4.40.0
fsspec==2023.6.0
fvcore==0.1.5.post20221221
gitdb==4.0.10
GitPython==3.1.31
graphviz==0.8.4
huggingface-hub==0.15.1
hypothesis==6.84.2
hypothesmith==0.1.9
idna==3.4
imageio==2.31.1
imagesize==1.4.1
importlib-metadata==6.8.0
iniconfig==2.0.0
iopath==0.1.10
isort==5.12.0
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyterlab-flake8==0.7.1
kiwisolver==1.4.4
lark-parser==0.12.0
lazy-object-proxy==1.9.0
lazy_loader==0.2
libcst==0.4.10
lit==15.0.7
llvmlite==0.40.1
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mccabe==0.7.0
mdurl==0.1.2
model-index==0.1.11
mpmath==1.2.1
mr-proper==0.0.7
munkres==1.1.4
mxnet==1.9.1
mypy-extensions==1.0.0
natsort==8.4.0
networkx==3.0
numba==0.57.1
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
opencv-contrib-python==4.8.0.76
opencv-python==4.7.0.72
opendatalab==0.0.10
openmim==0.3.9
openpyxl==3.1.2
openxlab==0.0.24
ordered-set==4.1.0
oss2==2.17.0
packaging==23.1
pandas==2.0.2
pandas-vet==0.2.3
pathspec==0.11.2
pathtools==0.1.2
pbr==5.11.1
pep8-naming==0.13.3
Pillow==9.3.0
platformdirs==3.10.0
pluggy==1.3.0
portalocker==2.7.0
protobuf==4.23.2
psutil==5.9.5
pybetter==0.4.1
pycln==2.2.2
pycodestyle==2.9.1
pycparser==2.21
pycryptodome==3.18.0
pydantic==2.3.0
pydantic_core==2.6.3
pydocstyle==6.3.0
pyemojify==0.2.0
pyflakes==2.5.0
Pygments==2.16.1
pylint==2.17.5
pyparsing==3.0.9
pyproject-api==1.6.1
pyproject-toml==0.0.10
pytest==7.4.1
pytest-cov==4.1.0
pytest-sugar==0.9.7
python-dateutil==2.8.2
pytorch-triton==2.1.0+6e4932cda8
pytz==2023.3
pyupgrade==3.10.1
PyWavelets==1.4.1
PyYAML==6.0
referencing==0.30.2
removestar==1.4
requests==2.28.2
restructuredtext-lint==1.4.0
rich==13.4.2
roi-align==0.0.2
rpds-py==0.10.2
safetensors==0.3.1
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
sentry-sdk==1.25.1
setproctitle==1.3.2
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==6.2.1
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
ssort==0.11.6
starlette==0.27.0
stdlib-list==0.9.0
stevedore==5.1.0
sympy==1.11.1
tabulate==0.9.0
termcolor==2.3.0
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2023.4.12
timm==0.9.2
tokenize-rt==5.2.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
torch==2.2.0.dev20230911+cu121
torchaudio==2.2.0.dev20230911+cu121
torchvision==0.17.0.dev20230911+cu121
tox==4.11.1
tox-travis==0.12
tqdm==4.65.0
triton==2.0.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
umap==0.1.1
untokenize==0.1.1
urllib3==1.26.13
virtualenv==20.24.4
wandb==0.15.4
wrapt==1.15.0
yacs==0.1.8
yapf==0.40.1
zipp==3.16.2
